$size-center-area : 60%;
$size-left-right-area : calc((100% - $size-center-area)/2);
$background-main: rgb(46, 80, 252);
$size-iconDecorate: calc(100% - 10px);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    #Templete {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: relative;

        .iconDecorate {
            display: flex;
            justify-content: center;
            align-items: center;

            * {
                width: $size-iconDecorate;
                height: $size-iconDecorate;
                border-radius: 50%;
                border: 2px solid snow;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-left {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                position: absolute;
                background-color: black;
                z-index: 5;
                bottom: 25%;
                left: 14%;
            }

            &-right {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                position: absolute;
                background-color: black;
                z-index: 5;
                bottom: 25%;
                right: 14%;
            }
        }

        .underPanel {
            width: 331.556px;
            height: 260px;
            position: absolute;
            bottom: 0;
            background-color: $background-main;
            border: 2px solid black;

        }

        .underPanelLeft {
            left: 0;
            border-radius: 0% 0% 60% 0% / 0% 0% 100% 100%;
        }

        .underPanelRight {
            right: 0;
            border-radius: 0% 0% 0% 60% / 0% 0% 100% 100%;
        }

        #GamingMachine {
            display: flex;
            width: 100%;
            height: 70%;
            background-color: $background-main;
            position: relative;

            #LeftArea {
                width: $size-left-right-area;
                position: relative;

                #PanelControl {
                    position: absolute;
                    bottom: 10%;
                    left: 15%;

                    #BtnControl {
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        background-color: violet;
                        position: relative;

                        .direction {
                            position: absolute;

                            .btnicon {
                                font-size: 3.5rem;
                            }
                        }

                        .top {
                            top: 3%;
                            left: 36%;
                        }

                        .right {
                            top: 36%;
                            right: 3%;
                        }

                        .bottom {
                            bottom: 3%;
                            left: 36%;
                        }

                        .left {
                            left: 3%;
                            top: 36%;
                        }
                    }
                }
            }

            #CenterArea {
                width: $size-center-area;
                background-size: cover;
                background-color: black;
                background-repeat: no-repeat;
                background-position: auto auto;
                box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
                position: relative;

                #myGame {
                    position: absolute;
                    z-index: 2;
                }

                .startGame {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: 50px;

                    .listItem {
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        row-gap: 30px;

                        .item {
                            width: 100%;

                            button {
                                width: 100%;
                                font-size: 1.2rem;
                                padding: 20px 30px;
                                font-weight: bolder;
                                color: powderblue;
                                background-color: black;
                                border: 5px solid powderblue;
                            }
                            button:hover{
                                color: black;
                                background-color: powderblue;
                            }
                            button:active{
                                scale: 1.05;
                            }
                        }
                    }
                }
                #chooseLevel{
                    position: absolute;
                    z-index: 4;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    display: none;
                    .listLevel{
                        display:  flex;
                        flex-direction: column;
                        row-gap: 30px;
                        list-style: none;
                        li{
                            width: 100%;
                            button{
                                width: 100%;
                                font-size: 1.2rem;
                                padding: 10px 40px;
                                background-color: black;
                                color: powderblue;
                                border: 5px solid powderblue;
                                
                            }
                            button:hover{
                                color: black;
                                background-color: powderblue;
                            }
                            button:active{
                                scale: 1.05;
                            }
                        }
                    }
                    .fa-xmark{
                        position: absolute;
                        font-size: 2.5rem;
                        color: white;
                        background-color: red;
                        padding: 5px 10px;
                        border-radius: 5px;
                        top: 15px;
                        right: 20px;
                    }
                    .fa-xmark:hover{
                        background-color: white;
                        color: red;
                        }
                    .fa-xmark:active{
                        scale: 1.05;
                    }
                }
                #PanelInformation{
                    position: absolute;
                    z-index: 4;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    display: none;
                    background-color: rgba(0, 0, 0, 0.5);
                    .contentInformation{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border: 5px solid powderblue;
                        background-color: black;
                        padding: 30px 60px;
                        row-gap: 20px;
                        span{
                            font-size: 2.5rem;
                            color: powderblue;
                        }
                        .context{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            row-gap: 20px;
                            .inf{
                                span{
                                    color: powderblue;
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                    .fa-xmark{
                        position: absolute;
                        font-size: 2.5rem;
                        color: white;
                        background-color: red;
                        padding: 5px 10px;
                        border-radius: 5px;
                        top: 15px;
                        right: 20px;
                    }
                    .fa-xmark:hover{
                        background-color: white;
                        color: red;
                        }
                    .fa-xmark:active{
                        scale: 1.05;
                    }
                }

                .head {
                    color: powderblue;
                    font-size: 5rem;

                }


            }

            #RightArea {
                width: $size-left-right-area;
                position: relative;

                #PanelControl {
                    width: 200px;
                    height: 200px;
                    background-color: violet;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 10%;
                    right: 15%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    #BtnSubmit {
                        width: calc(100% - 30px);
                        height: calc(100% - 30px);
                        border-radius: 50%;
                        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
                    }
                }

                #PanelControl #BtnSubmit:hover {
                    scale: 0.95;
                }

                .listBtnLevel {
                    display: grid;
                    grid-template-rows: auto auto;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 10px;
                    justify-content: center;
                    align-self: center;
                    padding: 20px 10px;

                    .btnLevel {
                        font-size: 1.2rem;
                        padding: 10px;
                    }
                }
            }

        }
    }
}