* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #Templete {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}
body #Templete .iconDecorate {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #Templete .iconDecorate * {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
  border: 2px solid snow;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #Templete .iconDecorate-left {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  z-index: 5;
  bottom: 25%;
  left: 14%;
}
body #Templete .iconDecorate-right {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  z-index: 5;
  bottom: 25%;
  right: 14%;
}
body #Templete .underPanel {
  width: 331.556px;
  height: 260px;
  position: absolute;
  bottom: 0;
  background-color: rgb(46, 80, 252);
  border: 2px solid black;
}
body #Templete .underPanelLeft {
  left: 0;
  border-radius: 0% 0% 60% 0%/0% 0% 100% 100%;
}
body #Templete .underPanelRight {
  right: 0;
  border-radius: 0% 0% 0% 60%/0% 0% 100% 100%;
}
body #Templete #GamingMachine {
  display: flex;
  width: 100%;
  height: 70%;
  background-color: rgb(46, 80, 252);
  position: relative;
}
body #Templete #GamingMachine #LeftArea {
  width: 20%;
  position: relative;
}
body #Templete #GamingMachine #LeftArea #PanelControl {
  position: absolute;
  bottom: 10%;
  left: 15%;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: violet;
  position: relative;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl .direction {
  position: absolute;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl .direction .btnicon {
  font-size: 3.5rem;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl .top {
  top: 3%;
  left: 36%;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl .right {
  top: 36%;
  right: 3%;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl .bottom {
  bottom: 3%;
  left: 36%;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl .left {
  left: 3%;
  top: 36%;
}
body #Templete #GamingMachine #CenterArea {
  width: 60%;
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  background-position: auto auto;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  position: relative;
}
body #Templete #GamingMachine #CenterArea #myGame {
  position: absolute;
  z-index: 2;
}
body #Templete #GamingMachine #CenterArea .startGame {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}
body #Templete #GamingMachine #CenterArea .startGame .listItem {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 30px;
}
body #Templete #GamingMachine #CenterArea .startGame .listItem .item {
  width: 100%;
}
body #Templete #GamingMachine #CenterArea .startGame .listItem .item button {
  width: 100%;
  font-size: 1.2rem;
  padding: 20px 30px;
  font-weight: bolder;
  color: powderblue;
  background-color: black;
  border: 5px solid powderblue;
}
body #Templete #GamingMachine #CenterArea .startGame .listItem .item button:hover {
  color: black;
  background-color: powderblue;
}
body #Templete #GamingMachine #CenterArea .startGame .listItem .item button:active {
  scale: 1.05;
}
body #Templete #GamingMachine #CenterArea #chooseLevel {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
body #Templete #GamingMachine #CenterArea #chooseLevel .listLevel {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  list-style: none;
}
body #Templete #GamingMachine #CenterArea #chooseLevel .listLevel li {
  width: 100%;
}
body #Templete #GamingMachine #CenterArea #chooseLevel .listLevel li button {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 40px;
  background-color: black;
  color: powderblue;
  border: 5px solid powderblue;
}
body #Templete #GamingMachine #CenterArea #chooseLevel .listLevel li button:hover {
  color: black;
  background-color: powderblue;
}
body #Templete #GamingMachine #CenterArea #chooseLevel .listLevel li button:active {
  scale: 1.05;
}
body #Templete #GamingMachine #CenterArea #chooseLevel .fa-xmark {
  position: absolute;
  font-size: 2.5rem;
  color: white;
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
  top: 15px;
  right: 20px;
}
body #Templete #GamingMachine #CenterArea #chooseLevel .fa-xmark:hover {
  background-color: white;
  color: red;
}
body #Templete #GamingMachine #CenterArea #chooseLevel .fa-xmark:active {
  scale: 1.05;
}
body #Templete #GamingMachine #CenterArea #PanelInformation {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
body #Templete #GamingMachine #CenterArea #PanelInformation .contentInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid powderblue;
  background-color: black;
  padding: 30px 60px;
  row-gap: 20px;
}
body #Templete #GamingMachine #CenterArea #PanelInformation .contentInformation span {
  font-size: 2.5rem;
  color: powderblue;
}
body #Templete #GamingMachine #CenterArea #PanelInformation .contentInformation .context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
body #Templete #GamingMachine #CenterArea #PanelInformation .contentInformation .context .inf span {
  color: powderblue;
  font-size: 25px;
}
body #Templete #GamingMachine #CenterArea #PanelInformation .fa-xmark {
  position: absolute;
  font-size: 2.5rem;
  color: white;
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
  top: 15px;
  right: 20px;
}
body #Templete #GamingMachine #CenterArea #PanelInformation .fa-xmark:hover {
  background-color: white;
  color: red;
}
body #Templete #GamingMachine #CenterArea #PanelInformation .fa-xmark:active {
  scale: 1.05;
}
body #Templete #GamingMachine #CenterArea #PanelGuide {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .fa-xmark {
  position: absolute;
  font-size: 2.5rem;
  color: white;
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
  top: 15px;
  right: 20px;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .fa-xmark:hover {
  background-color: white;
  color: red;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .fa-xmark:active {
  scale: 1.05;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  row-gap: 20px;
  background-color: black;
  padding: 20px;
  /* Microsoft Edge */
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .guide {
  font-size: 2.5rem;
  color: powderblue;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .intro {
  font-size: 1.5rem;
  color: powderblue;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .context {
  width: 800px;
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .context .guideLV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 5px;
  text-align: left;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .context .guideLV .title {
  color: yellow;
  font-size: 1.5rem;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .context .guideLV span {
  color: powderblue;
  font-size: 1.2rem;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .context .wish {
  color: yellow;
  font-size: 1.5rem;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .context::-webkit-scrollbar {
  width: 8px;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .context::-webkit-scrollbar-thumb {
  background-color: powderblue;
  border-radius: 4px;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .context::-webkit-scrollbar-thumb:hover {
  background-color: powderblue;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .context::-webkit-scrollbar-track {
  background-color: black;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .context::-ms-scrollbar {
  width: 8px;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .context::-ms-thumb {
  background-color: powderblue;
  border-radius: 4px;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .container::-ms-thumb:hover {
  background-color: powderblue;
}
body #Templete #GamingMachine #CenterArea #PanelGuide .container .container::-ms-track {
  background-color: powderblue;
}
body #Templete #GamingMachine #CenterArea .head {
  color: powderblue;
  font-size: 5rem;
}
body #Templete #GamingMachine #RightArea {
  width: 20%;
  position: relative;
}
body #Templete #GamingMachine #RightArea #PanelControl {
  width: 200px;
  height: 200px;
  background-color: violet;
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #Templete #GamingMachine #RightArea #PanelControl #BtnSubmit {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border-radius: 50%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
body #Templete #GamingMachine #RightArea #PanelControl #BtnSubmit:hover {
  scale: 0.95;
}
body #Templete #GamingMachine #RightArea .listBtnLevel {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-self: center;
  padding: 20px 10px;
}
body #Templete #GamingMachine #RightArea .listBtnLevel .btnLevel {
  font-size: 1.2rem;
  padding: 10px;
}

/*# sourceMappingURL=styleIndex.css.map */
