* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #Templete {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}
body #Templete .iconDecorate {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #Templete .iconDecorate * {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
  border: 2px solid snow;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #Templete .iconDecorate-left {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  z-index: 5;
  bottom: 25%;
  left: 14%;
}
body #Templete .iconDecorate-right {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  z-index: 5;
  bottom: 25%;
  right: 14%;
}
body #Templete .underPanel {
  width: 331.556px;
  height: 260px;
  position: absolute;
  bottom: 0;
  background-color: rgb(46, 80, 252);
  border: 2px solid black;
}
body #Templete .underPanelLeft {
  left: 0;
  border-radius: 0% 0% 60% 0%/0% 0% 100% 100%;
}
body #Templete .underPanelRight {
  right: 0;
  border-radius: 0% 0% 0% 60%/0% 0% 100% 100%;
}
body #Templete #GamingMachine {
  display: flex;
  width: 100%;
  height: 70%;
  background-color: rgb(46, 80, 252);
  position: relative;
}
body #Templete #GamingMachine #LeftArea {
  width: 20%;
  position: relative;
}
body #Templete #GamingMachine #LeftArea #PanelControl {
  position: absolute;
  bottom: 10%;
  left: 15%;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: violet;
  position: relative;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl .direction {
  position: absolute;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl .direction .btnicon {
  font-size: 3.5rem;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl .top {
  top: 3%;
  left: 36%;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl .right {
  top: 36%;
  right: 3%;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl .bottom {
  bottom: 3%;
  left: 36%;
}
body #Templete #GamingMachine #LeftArea #PanelControl #BtnControl .left {
  left: 3%;
  top: 36%;
}
body #Templete #GamingMachine #CenterArea {
  width: 60%;
  background-size: cover;
  background-image: url(../../image/bg.jpg);
  background-repeat: no-repeat;
  background-position: auto auto;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  position: relative;
}
body #Templete #GamingMachine #CenterArea #myGame {
  position: absolute;
  z-index: 2;
}
body #Templete #GamingMachine #RightArea {
  width: 20%;
  position: relative;
}
body #Templete #GamingMachine #RightArea #PanelControl {
  width: 200px;
  height: 200px;
  background-color: violet;
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #Templete #GamingMachine #RightArea #PanelControl #BtnSubmit {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border-radius: 50%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
body #Templete #GamingMachine #RightArea #PanelControl #BtnSubmit:hover {
  scale: 0.95;
}

/*# sourceMappingURL=styleIndex.css.map */
